@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif ;
    
}

body{
    background-image: linear-gradient(to bottom,#A5AAA3,#705E78 );
    margin: bottom 8px;
}

main{
    background-color: white;
    margin: auto;
    border-radius: 2%;
    box-shadow: 5px 5px 10px #584a5ed7;
    width: 600px;
    padding: 10px;
}

h1{
    color: #812F33;
    text-align: center;
    text-shadow: 1px 1px 0 #632528af;
}

h2{
    color: #FEA443;
}

p{
    text-align: justify;
}