@charset "UTF-8";

body {
    background-color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: seashell;
    background-color: black;
    font-size: 1.5em;
}

h2 {
    color: antiquewhite;
    font-size: 1.2em;
}

p {
    text-align: justify;
}